body {
  margin: 0;
  color: white;
  font-family: sans-serif;
  background: url(graphics/3_background/Layers/5.Water/D.png);
  position: relative;
  box-sizing: border-box;
}

header {
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

header h1 {
  font-size: 60px;
  background: rgba(0, 0, 255, 0.151);
  padding: 1.2%;
  font-family: cursive;
  border-radius: 50%;
  margin-bottom: 50px;
  border: 3px solid rgba(255, 255, 255, 0.534);
}

.content-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.canvas-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.start-screen-container {
  background-color: black;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  background-image: url(./graphics/3_background/startscree_bg.png);
  background-size: cover;
  background-position: right;
}

.start-game-btn {
  position: absolute;
  bottom: 10%;
  right: 15%;
  width: 40%;
  transition: all 150ms ease-in-out;
  cursor: pointer;
  &:hover {
    transform: scale(102%);
    filter: brightness(120%);
  }
}

.controls-info {
  position: absolute;
  top: 0;
  right: 0;
  height: 60%;
}

canvas {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 56px;
  font-weight: bold;
  background-color: black;
  outline: 5px solid rgba(255, 255, 255, 0.452);
  border-radius: 20px;
}

.d-none {
  display: none;
}
